.container{
    box-sizing: border-box;
    padding: 20px 35px;
    font-family: "Inter", sans-serif;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    align-items: center;
    justify-self: center;
    text-align: center;
}

p{
    width:100%;
    text-align: center;
    color: rgb(85, 85, 85);
    font-weight: 500;
}

h2{
    text-align: center;
}

#light{
    color: rgb(154, 154, 154);
    font-size: 24px;
}

input{
    width: 50%;
    padding: 8px 12px;
    margin: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form{
    width: 50%;
    margin: 30px 20px;
    align-items: center;
}

label{
    color: #7a7979ad;
    font-weight: bold;
}

button{
    width: 50%;
    background-color: #cccccc;
    color: rgb(45, 44, 44);
    padding: 10px 15px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}