body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .logo img {
    width: 28px;
    height: 28px;
  }
  
  .logo span {
    font-size: 20px;
    font-weight: 600;
    color: #00bfa6;
  }

.container {
  width: 100vh;
  height: 50vh;
  margin: 10px 30px;
  box-sizing: border-box;
  padding: 20px 35px;
  border: 2px solid whitesmoke;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-self: center;
  text-align: center;
}

p {
  width: 100%;
  margin: auto 18%;
  text-align: center;
  color: rgb(85, 85, 85);
  font-weight: 500;
  font-size: 14px;
}

h2 {
  text-align: center;
  align-self: center;
  width: 100%;
}

#light {
  color: rgb(154, 154, 154);
  font-size: 24px;
}

input {
  width: 100%;
  padding: 14px 16px;
  margin-left: 7%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form {
  display: flexbox;
  justify-items: center;
  align-items: center;
  margin-left: 20%;
}

label {
  color: #7a7979ad;
  font-weight: bold;
  display: flex;
    float: left;
    margin-left: 8%;
    font-size: 12px;
}

button {
  width: 100%;
  background-color: #dcdcdc;
  color: rgb(82, 81, 81);
  padding: 10px 15px;
  margin: 12px 20px;
  align-content: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 768px) {
    .main-container {
      padding: 20px;
    }
    .overview-cards {
      flex-direction: column;
    }
    .wallet-actions {
      flex-direction: column;
      align-items: stretch;
    }
  }